@import "tailwindcss";
@font-face {
  font-family: "JustFontime";
  src: url("/public/just-fontime.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
}
